.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--vertical-medium-padding) var(--horizontal-medium-padding);
  color: var(--green);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 10vh;
  box-shadow: 0 10px 30px -10px var(--shadow-navy);
}
  
.navbar-logo img {
  height: 50px;
  width: auto;
}

.navbar-links {
  display: none;
  color: var(--dirty-white);
}

.navbar-menu {
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  color: var(--dirty-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: var(--horizontal-small-padding) 0;  
}

.navbar-menu a {
  color: var(--dirty-white);
  text-decoration: none;
  font-size: 1.2rem;
  margin: 10px 0;
  font-family: 'Source Code Pro', monospace, sans-serif;
  transition: .5s ease;
}

.navbar-menu a:hover {
  color: var(--green);
}

.navbar-toggle-icon {
  font-size: 2rem;
}

.resume-link {
  border: 2px solid var(--green);
  border-radius: 4px;
  color: var(--green)!important;
  padding: var(--vertical-small-padding) var(--horizontal-small-padding);
  transition: .5s ease;
}

.resume-link:hover {
  background-color: var(--green-transparent);
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: var(--vertical-medium-padding) var(--horizontal-large-padding);
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-links a {
    margin-right: var(--horizontal-small-padding);
    color: var(--dirty-white);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace, sans-serif;
    transition: .5s ease;
  }

  .navbar-links a:hover {
    color: var(--green);
  }

  .navbar-logo img {
    height: 50px;
    width: auto;
  }
}