@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Source+Code+Pro:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--navy);
    font-family: 'Inter', sans-serif;
}

:root {
/* VARIABLES */
    /* ---COLORS--- */
    --navy: #0B192E;
    --light-navy: #004461;
    --shadow-navy: rgba(2,12,27,0.7);
    --dirty-white: #E2F0FF;
    --white: #ffffff;
    --green: #00A689;
    --green-transparent: rgb(0, 166, 137, 0.1);
    --grey: #A5ABBD;

    /* ---MARGIN / PADDING--- */
    --vertical-small-padding: .5em;
    --horizontal-small-padding: 1em;
    --vertical-medium-padding: 1em;
    --horizontal-medium-padding: 1.5em;
    --vertical-large-padding: 3em;
    --horizontal-large-padding: 3.5em;

    /* ---FONT SIZES--- */
    --xs-fs: 0.7rem;
    --s-fs: 1rem;
    --m-fs: 1.5rem;
    --l-fs: 2rem;
    --xl-fs: 2.5rem;
    --xxl-fs: 4rem;
}

h2 {
    color: var(--dirty-white);
    font-size: var(--xl-fs);
    font-family: 'Inter', sans-serif;
}

h3 {
    color: var(--grey);
    font-size: var(--l-fs);
}

section {
    padding: var(--vertical-medium-padding) var(--horizontal-medium-padding);
}

p {
    font-size: var(--s-fs);
    color: var(--grey);
    line-height: 1.5;
    padding: var(--vertical-small-padding) 0;
}

li {
    color: var(--green);
    list-style-type: none;
}

a {
    color: var(--green);
    text-decoration: none;
}

span {
    color: var(--green);
}

.container {
    position: relative;
}

@media screen and (min-width: 768px) {
    section {
        padding: var(--vertical-medium-padding) 10em;    
    } 
       
   h2 {
    font-size: var(--xxl-fs);
   }

   h3 {
    font-size: var(--xl-fs);
   }
 }
 
 @media screen and (min-width: 1200px) {
     section {
        padding: var(--vertical-medium-padding) 25em;
     }
 }