* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--navy);
}

:root {
/* VARIABLES */
    /* ---COLORS--- */
    --navy: #0B192E;
    --dirty-white: #E2F0FF;
    --white: #ffffff;
    --green: #00A689;

    /* ---MARGIN PADDING--- */
    --vertical-small-padding: .5em;
    --horizontal-small-padding: 1em;
    --vertical-medium-padding: 1em;
    --horizontal-medium-padding: 1.5em;
    --vertical-large-padding: 2em;
    --horizontal-large-padding: 2.5em;
}